.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #39445a;
    box-shadow: 0 1px 5px #000;
    color: white;
    z-index: 1;
    height: 120px;
}

.header-text{
    font-family: "Montserrat", serif !important;
    font-weight: 200 !important;
}